<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    
<body>
    <%- include('../partials/nav') %>
    <h1>Comment <%- commentID %></h1>
    <p><%- username %></p>
    <p><%- commentText %></p>
</body>

<%- include('../partials/footer') %>

</html>