<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    
<body>
    <%- include('../partials/nav') %>
    <h1>Edit Comment <%- commentID %></h1>
    <p>by <%= username %></p>
    <form method="post" action="/comments/<%= commentID %>?_method=PATCH">
        <textarea name="commentText" id="commentText" placeholder="comment" cols="30" rows="10"><%- commentText %></textarea>
        <button type="submit">update comment</button>
    </form>
</body>

<%- include('../partials/footer') %>

</html>